<div class="card card-body">
    <!-- FILTER FOR DESKTOP-->
    <div class="d-none d-sm-none d-md-block">
        <div class="float-left">
            <div class="mb-2">
            	<div class="pl-0">
            		<p-multiSelect 
                [style]="{minWidth: '120px' }"
                [options]="filterBy"
                [(ngModel)]="selectedFilter" 
                (select)="dt.filterGlobal($event.target.value, 'contains')"
                selectedItemsLabel="Filter By" 
                defaultLabel="Filter By"
                optionLabel="filter"></p-multiSelect>
            	</div>
            </div>
        </div>

        <div class="float-right">
            <div class="text-right mb-2">
              <span style="top: 5; position: absolute; right: 120px;">
                  <button class="btn btn-secondary text-capitalize" type="button"
                  (click)="adjustDensity('minus')">
                    <i class="fa fa-minus"></i>
                  </button>

                  <span> Density </span>

                  <button class="btn btn-secondary text-capitalize" type="button" 
                  (click)="adjustDensity('plus')">
                    <i class="fa fa-plus"></i>
                  </button>  
              </span>

            	 <p-multiSelect 
                [style]="{minWidth: '100px', border: 'none'}"
                [options]="listColumns"
                [(ngModel)]="selectedColumns" 
                selectedItemsLabel="Columns" 
                defaultLabel="Columns"
                optionLabel="header"></p-multiSelect>
            </div>
        </div>
    </div>

    <!-- FILTER FOR MOBILE-->
    <div class="d-block d-sm-block d-md-none text-center">
        <div class="d-block">
          <div class="pl-0">
            <p-multiSelect 
            [style]="{minWidth: '100px', border: 'none'}"
            [options]="filterBy"
            [(ngModel)]="filterBy" 
            selectedItemsLabel="Filter By" 
            defaultLabel="Filter By"
            optionLabel="filterBy"></p-multiSelect>
          </div>
        </div>

        <div class="d-block">
          <div>
            <button class="btn btn-secondary text-capitalize" type="button"
            (click)="adjustDensity('minus')">
              <i class="fa fa-minus"></i>
            </button>

            <span> Density </span>

            <button class="btn btn-secondary text-capitalize" type="button" 
            (click)="adjustDensity('plus')">
              <i class="fa fa-plus"></i>
            </button>  
          </div>
        </div>

        <div class="d-block">
         <p-multiSelect 
          [style]="{minWidth: '100px', border: 'none'}"
          [options]="listColumns"
          [(ngModel)]="selectedColumns" 
          selectedItemsLabel="Columns" 
          defaultLabel="Columns"
          optionLabel="header"></p-multiSelect>
        </div>
    </div>

    <div class="bg-selected mb-2 pt-2 pb-1 p2-3 text-white selected-rows" 
    *ngIf="selectedItems?.length > 0"
    [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
      <div class="float-left">
        <button class="btn btn-secondary text-capitalize">{{selectedItems?.length}} Rows Selected</button>
      </div>
      <div class="float-right">
        <button class="btn btn-secondary text-capitalize" type="button">
          New Allocation
        </button>

        <button class="btn btn-secondary text-capitalize" type="button">
          View Allocation
        </button>

        <button class="btn btn-secondary text-capitalize" type="button">
          Merge Allocation
        </button>

        <button class="btn btn-secondary text-capitalize" type="button">
          Release
        </button>

        <button class="btn btn-secondary text-capitalize" type="button">
          Delete Allocation
        </button>

        <button class="btn btn-secondary text-capitalize mr-3" type="button"
        (click)="unselectItems()">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>

    <div style="overflow-x: auto; width: 100% !important;">
      <p-table class="wa-items"
        [columns]="selectedColumns"
        [value]="warehouseItems"
        selectionMode="multiple" 
        [(selection)]="selectedItems"
        >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th class="info-main" style="width:100px;">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" [ngClass]="col.class" 
            [ngStyle]="{width: density + 'px' }">
              {{col.header}}
            </th>

            <th class="info-main" style="width:100px;">Action</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" >
              <!-- SELECTOR -->
              <td class="info-main">
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>

              <td *ngFor="let col of columns" 
                [ngClass]="(col.field !== 'unreleasedAllocation'
                && col.field !== 'scheduledRelease' 
                && col.field !== 'styleCode' 
                && col.field !== 'styleName' ) && selectedItems?.indexOf(rowData) > -1 ? '' : 'info-main'"
              >
                  {{rowData[col.field]}} 
              </td>

              <td style="width: 100px !important;">
                <i class="ml-3 fa fa-ellipsis-v" id="itemAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100% !important;"></i>

                <div class="dropdown-menu" aria-labelledby="itemAction">
                  <a class="dropdown-item">New Alloc</a>
                  <a class="dropdown-item">View Alloc</a>
                  <a class="dropdown-item">Merge Alloc</a>
                  <a class="dropdown-item">Release</a>
                  <a class="dropdown-item">Del. Alloc</a>
                </div>
              </td>
            </tr>
        </ng-template>

      </p-table>
    </div>
</div>