<nav class="navbar navbar-expand-lg navbar-light bg-white py-1">
    <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto"></ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control nav-search mr-4" type="search"
             placeholder="&#xF002; search" 
             style="font-family:Arial, FontAwesome" aria-label="Search">
            <button class="btn btn-default my-2 account-btn" type="submit">
            AJ</button>
        </form>
    </div>
</nav>

<div class="container-fluid px-0">
    <div class="row px-5 py-3 pt-5">
        <div class="col-12 col-lg-3 pt-3 pt-md-5">
            <h3 class="inventory-title mb-3">Warehouse Allocation</h3>
            <p class="inventory-description">
                The table below includes all styles with stock in
                a retail warehouse location.
            </p>
            <p class="inventory-description">
                Filter by price status to push out markdown styles,
                by available warehouse units to clear out residual
                units, or by instore weeks cover to ensure sales.
            </p>
        </div>

        <!-- Warehouse total table -->
        <div class="col-12 col-lg-9 pl-lg-5">
            <app-warehouse-total 
            [warehouseTotal]="warehouseTotal">
            </app-warehouse-total>
        </div>
    </div>

    <div class="row px-5 py-3">
        <div class="col-12">
            <!-- WAREHOUSE ITEMS -->
            <app-warehouse-items
            [warehouseItems]="warehouseItems">  
            </app-warehouse-items>
        </div>
    </div>
</div>
