
.bg-gray{
	background: #e0e0e0 ;
}

.account-btn{
	background: #e0e0e0;
	border-radius: 50% !important;
	padding: 15px 15px !important;
	font-weight: 600 !important;
}

.nav-search{
	background: #e0e0e0;
	padding: 13px 20px;
	

	@media (min-width: 670px) {
		 min-width: 380px;
	}

	@media (max-width: 669px) {
		display: block !important;
	}
}


.inventory-title{
	

}

.inventory-description{
	font-size: 15px !important;
	color: #4B515D !important;
}