/* WAREHOUSE ALLOCATION TOTAL
 */
.wa-total{
  .ui-table{
    width: 1020px !important;

    overflow-x: hidden !important;
    table-layout: fixed;
    border-collapse: collapse;
    

    .sticky-col-first {
      position: -webkit-sticky; /* for Safari */
      position: sticky;
      left: 0;
      left: 0 !important;
      z-index: 9999 !important;
    }
  }

  .ui-table .ui-table-thead {
    overflow: hidden !important;

    & > tr > th {
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
      max-width: 100% !important;
      border: none !important;
      background-color: #6675ff !important;
      color: white !important;
      font-family: 'Calibri', sans-serif !important; 
      font-size: 14px !important;
      font-weight: 400 !important;
      cursor: pointer !important;
    }

    .odd-col{
      background-color: #7a87ff !important;
    }
  }

  .ui-table .ui-table-tbody {
    td {
      overflow: visible;
      border: none !important;
      font-family: 'Calibri', sans-serif !important; 
      font-size: 14px !important;
      font-weight: 400 !important;
      text-align: right !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
      max-width: 100% !important;
    }

    & > tr > td:first-child{
      background: #eeeeee !important;
      text-align: left !important;
    }
  }
}

/* WAREHOUSE ALLOCATION ITEMS
 */
.wa-items{
  .ui-table{
    width: 100% !important;
    border-collapse: collapse;
    padding-right: 20px;
  }

  .ui-table .ui-table-thead {
    & > tr > th {
      overflow: visible !important;
      white-space: initial !important;
      word-wrap: break-word !important;
      border: none !important;
      background-color: #6675ff !important;
      color: white !important;
      font-family: 'Calibri', sans-serif !important; 
      font-size: 14px !important;
      font-weight: 400 !important;
      cursor: pointer !important;
    }

    .odd-col{
      background-color: #7a87ff !important;
    }
  }

  .ui-table .ui-table-tbody {
    .ui-state-highlight{
      background: #dbdbdb !important;
      color: #263238 !important;
    }

    td {
      overflow: visible;
      border: none !important;
      font-family: 'Calibri', sans-serif !important; 
      font-size: 14px !important;
      font-weight: 400 !important;
    }

    .info-main{
      background: #eeeeee !important;
    }
  }
}



.scroll-table-body{
  table{
    width: 100% !important;
  }

  tbody {
    display: block;
    height: 250px;
    overflow: auto;
  }

  thead, tbody tr {
    display: table !important;
    width: 100% !important;
    table-layout: fixed !important;/* even columns width , fix width of table too*/
  }
}

