@import "/assets/styles/primeng/primeng-table.scss";
@import "/assets/styles/primeng/primeng-tooltip.scss";

html, body { height: 100%; }
body { margin: 0; font-family: 'Spartan', sans-serif; }
h1,h2,h3,h4,h5,h6{
	font-family: 'Lora', sans-serif !important; 
	font-weight: 600 !important;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-scrollbar-thumb {
	background: #4B515D;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.card, .navbar{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}